@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {outline: 2px solid red;} */
body {margin: 0;}
ul {margin: 0; padding: 0;}
li {list-style-type: none;}
a {
    color: black;
    text-decoration: none;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}
h2 {margin: 0;}
p {margin: 0;}

/* HEADER */

header {
    outline: 2px solid red;

    display: flex;
    justify-content: space-between;

    padding-inline: 130px;
    padding-block: 10px;
}
#header-heading {
    outline: 2px solid red;

    margin: 0px;

    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 900;
}
#header-navbar {
    outline: 2px solid red;

    display: flex;
    align-items: center;
}
#header-navbar-list {
    outline: 2px solid red;

    display: flex;
}
#header-navbar-list-item1 {}
#header-navbar-list-item2 {}
#header-navbar-list-item3 {}

/* MAIN */

main {}
#main-article {}

#main-article-section1 {
    outline: 2px solid red;

    height: 250px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 205px;
    padding-block: 100px;

    font-family: 'Roboto';
}
#main-article-section1-container1 {
    outline: 2px solid red;
}
#main-article-section1-container1-heading {
    outline: 2px solid red;

    margin: 0;

    font-size: 40px;
    font-weight: 900;
}
#main-article-section1-container1-paragraph {
    outline: 2px solid red;

    margin: 0;

    font-size: 15px;
    font-weight: 400;
}
#main-article-section1-container1-button {
    outline: 2px solid red;

    padding-inline: 20px;
    padding-block: 3px;

    font-size: 15px;
    font-weight: 800;
}
#main-article-section1-image {
    outline: 2px solid red;

    width: 430px;
    height: 190px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

#main-article-section2 {
    outline: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 40px;
    padding-block-end: 80px;

    font-family: 'Roboto';
}
#main-article-section2-heading {
    margin: 0;
    margin-bottom: 40px;

    font-size: 30px;
    font-weight: 800;
}
#main-article-section2-container1 {
    outline: 2px solid red;

    width: 700px;

    display: flex;
    justify-content: space-between;
}
#main-article-section2-container1-content1 {}
#main-article-section2-container1-content1-image {}
#main-article-section2-container1-content1-para {}
#main-article-section2-container1-content2 {}
#main-article-section2-container1-content2-image {}
#main-article-section2-container1-content2-para {}
#main-article-section2-container1-content3 {}
#main-article-section2-container1-content3-image {}
#main-article-section2-container1-content3-para {}
#main-article-section2-container1-content4 {}
#main-article-section2-container1-content4-image {}
#main-article-section2-container1-content4-para {}

#main-article-section3 {
    outline: 2px solid red;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 100px;
    padding-inline: 230px;
}
#main-article-section3-container1 {
    outline: 2px solid red;

    font-family: 'Roboto';
}
#main-article-section3-container1-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
#main-article-section3-container1-quoteAuthor {
    outline: 2px solid red;

    text-align: end;
    font-size: 20px;
    font-weight: 800;
}

#main-article-section4 {
    outline: 2px solid red;

    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
}
#main-article-section4-container {
    outline: 2px solid red;

    width: 950px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#main-article-section4-container-text {
    outline: 2px solid red;

    margin-right: 200px;
}
#main-article-section4-container-text-heading {
    font-size: 20px;
    font-weight: 800;
}
#main-article-section4-container-text-para {
    font-size: 15px;
}
#main-article-section4-container-button {
    padding-inline: 20px;
    padding-block: 4px;

    font-weight: 800;
}

/* FOOTER */

footer {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
}
#footer-text {
    font-size: 15px;
}

/*--------------------------- CLASS ----------------------------*/

/* HEADER */

.header-navbar-list-item {
    outline: 2px solid red;

    margin-inline: 15px;
}

/* MAIN */
.main-article-section2-content {
    outline: 2px red solid;
}
.main-article-section2-content-image {
    outline: 2px red solid;

    width: 135px;
    height: 130px;
}
.main-article-section2-content-para {
    margin: 0px;

    text-align: center;

    font-size: 15px;
}